@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Categories</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create new Category
            </a>
        </div>
    </div>

    <br/>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th> Name </th>
                <th> Description </th>
                <th> Priority </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var category in Model)
            {
                <tr>
                    <td> @category.Name </td>
                    <td> @Html.Raw(category.Description) </td>
                    <td> @category.Priority </td>
                    <td width="15%" class="text-center">
                       <a asp-controller="Category" asp-action="Upsert" asp-route-id="@category.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> &nbsp; Edit</a>
                    </td>
                    <td width="20%" class="text-center">
                        <a onclick="Delete('/Category/Delete?id=@category.Id')" class="btn btn-danger mx-2"><i class="bi bi-trash"></i> &nbsp; Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/categoriesHelper.js"></script>
}