@model IEnumerable<Outlay>

@{
    ViewData["Title"] = "Outlays";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Outlays</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Outlay" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create new Outlay
            </a>
        </div>
    </div>

    <br/>

    <table id="outlaysDataTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th> Name </th>
                <th class="text-center"> Cost </th>
                <th class="text-center"> Description </th>
                <th class="text-center"> Category </th>
                <th class="text-center"> Date </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/outlays.js"></script>
}