<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MySpendings</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootswatchTheme.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MySpendings.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">MySpendings</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index"><i class="bi bi-graph-up"></i> &nbsp; Statistics</a>
                        </li>
                        @{
                            if (!string.IsNullOrWhiteSpace(User.Identity.Name))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="bi bi-box-seam"></i> &nbsp; Spendings Management
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-controller="Category" asp-action="Index"><i class="bi bi-grid"></i> &nbsp; Categories</a>
                                        <a class="dropdown-item" asp-controller="Outlay" asp-action="Index"><i class="bi bi-cart2"></i> &nbsp; Outlays</a>
                                    </div>
                                </li>
                            }
                        }
                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                 <i class="bi bi-person"></i> &nbsp; @(string.IsNullOrWhiteSpace(User.Identity.Name) ? "Account" : User.Identity.Name)
                             </a>
                             <div class="dropdown-menu">
                                 @{
                                     if (string.IsNullOrWhiteSpace(User.Identity.Name))
                                     {
                                        <a class="dropdown-item" asp-controller="Account" asp-action="Login"><i class="bi bi-person-check-fill"></i> &nbsp; Sign in</a>
                                        <a class="dropdown-item" asp-controller="Account" asp-action="Register"><i class="bi bi-person-plus-fill"></i> &nbsp; Sign up</a>
                                     }else{
                                        <a class="dropdown-item" asp-controller="Account" asp-action="Settings"><i class="bi bi-gear-wide-connected"></i> &nbsp; Account Settings</a>
                                        <a class="dropdown-item" asp-controller="Account" asp-action="Logout"><i class="bi bi-person-dash-fill"></i> &nbsp; Logout</a>
                                     }
                                 }
                             </div> 
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

   <footer class="footer text-muted bg-primary">
        <div class="container">
            &copy; 2022 - Myspendings <a href="https://github.com/rochoMonsta/my-spendings">GitHub</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/y7id9i2cy1z5crnpku26o6iriec8myrar0gwwozy6tfjdqwo/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
