html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.scrollBar {
    height: 100px;
    overflow-y: auto;
    padding: 0;
    list-style-type: none;
}

.my-custom-scrollbar {
    position: relative;
    height: 420px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.content-center {
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}